:root {
    --blue: #020D3A;
    --green: #20E086;
    --white: #FFFFFF;
    --lightgrey:#B3B3B2;
    --offwhite: #FFFFF6;
    --darksilver: #6D6D6C;
    --cultured: #F4F4F4;
    --ufogreen: #FFA07A;
    --paleviolet: #C5A9FF;
    --valentinered: #E84646;
    --darkgreen: #020D3A0D;
    --palegray: #B3B3B266;
    --darkblue: #020D3A33;

    /* hover effects */
    --greentwo: #20E086CC;
    --greendark: #20E086B2;
    --mediumspringgreen: #20E0864D;

    /* box shadow */
    --blackblue: #00000026;
    --bluehover: #020D3ACC;
    --blackdark: #00000014;
    /* --blackblue: 0, 0, 0, 0.15; */

    /* shadow color */
    --bluepurple: #a999db;
}